@import "../../styles/responsive.scss";

.layout {
  // height: 100vh;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include breakpoint-down(small) {
    min-width: 18.75rem;
  }

  @include breakpoint-up(medium) {
    max-width: 54rem;
    padding: 0 2.25rem;
  }

  @include breakpoint-up(large) {
    max-width: 82rem;
  }

  @include breakpoint-up(large) {
    max-width: 90rem;
  }
}
